BizTalk Server/Schema/X12/00405/X12_00405_352.xsd

<?xml version="1.0"?>
<xs:schema xmlns:btsedi="http://schemas.microsoft.com/BizTalk/2005/EdiSchemaEditorExtension" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns="http://schemas.microsoft.com/BizTalk/EDI/X12/2006" targetNamespace="http://schemas.microsoft.com/BizTalk/EDI/X12/2006" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <schemaEditorExtension:schemaInfo namespaceAlias="btsedi" extensionClass="Microsoft.BizTalk.Edi.SchemaEditorExtension.EdiSchemaExtension" standardName="EDI" xmlns:schemaEditorExtension="http://schemas.microsoft.com/BizTalk/2003/SchemaEditorExtensions" />
      <b:schemaInfo version="1.0" document_type="352" standard="EDI" standards_version="00405" root_reference="X12_00405_352" displayroot_reference="X12_00405_352" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" X12ConditionDesignator_Check="No" />
    </xs:appinfo>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation xml:lang="en">copyright © Microsoft Corporation. All rights reserved.</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>Schema name: X12_4050_352</xs:documentation>
  </xs:annotation>
  <xs:element name="X12_00405_352">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="postfix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="U.S. Customs Carrier General Order Status" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ST">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Transaction Set Header" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ST01">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Transaction Set Identifier Code_143" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="3" />
                    <xs:maxLength value="3" />
                    <xs:enumeration value="352" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ST02">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Transaction Set Control Number_329" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="4" />
                    <xs:maxLength value="9" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="ST03">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Implementation Convention Preference_1705" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="1" />
                    <xs:maxLength value="9" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="M10">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="M10" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Manifest Identifying Information">
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="M1004" />
                  <b:Subject name="M1010" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Required" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="M1005" />
                  <b:Subject name="M1004" />
                </b:Rule>
              </b:recordInfo>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="20" ref="P4Loop1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Port Information" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="SE">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Transaction Set Trailer" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SE01">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Number of Included Segments_96" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="1" />
                    <xs:maxLength value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="SE02">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Transaction Set Control Number_329" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="4" />
                    <xs:maxLength value="9" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="M14Loop1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for General Order Status Information" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="M14">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="M14" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="General Order Status Information">
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="M1406" />
                  <b:Subject name="M1408" />
                </b:Rule>
              </b:recordInfo>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="4" ref="K1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="K1" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Remarks" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="P4Loop1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Port Information" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="P4">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="P4" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Port Information" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="9999" ref="M14Loop1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for General Order Status Information" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="M10">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="M10" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Manifest Identifying Information">
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="M1004" />
            <b:Subject name="M1010" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Required" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="M1005" />
            <b:Subject name="M1004" />
          </b:Rule>
        </b:recordInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="M1001">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Standard Carrier Alpha Code_140" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="2" />
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="M1002" type="X12_ID_91">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Transportation Method/Type Code_91" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="M1003">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Country Code_26" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="2" />
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="M1004">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Vessel Code_597" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="1" />
              <xs:maxLength value="8" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="M1005">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Vessel Name_182" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="2" />
              <xs:maxLength value="28" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="M1006">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Flight/Voyage Number_55" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="2" />
              <xs:maxLength value="10" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="M1007">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Reference Identification_127" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="M1008">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Quantity_380" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_R">
              <xs:minLength value="1" />
              <xs:maxLength value="15" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="M1009" type="X12_ID_256">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Manifest Type Code_256" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="M1010" type="X12_ID_897">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Vessel Code Qualifier_897" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="M1011" type="X12_ID_1073">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Yes/No Condition or Response Code_1073" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="M1012">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Reference Identification_127" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="M1013" type="X12_ID_353">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Transaction Set Purpose Code_353" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="M1014" type="X12_ID_346">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Application Type_346" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="P4">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="P4" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Port Information" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="P401">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Location Identifier_310" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="P402">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Date_373" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_DT">
              <xs:minLength value="8" />
              <xs:maxLength value="8" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="P403">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Quantity_380" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_R">
              <xs:minLength value="1" />
              <xs:maxLength value="15" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="P404">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Location Identifier_310" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="P405">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Time_337" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_TM">
              <xs:minLength value="4" />
              <xs:maxLength value="8" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="M14">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="M14" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="General Order Status Information">
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="M1406" />
            <b:Subject name="M1408" />
          </b:Rule>
        </b:recordInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="M1401">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Bill of Lading/Waybill Number_598" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="25" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="M1402" type="X12_ID_392">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Bill of Lading Status Code_392" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="M1403">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Customs Entry Number_601" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="15" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="M1404">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Customs Entry Type Code_581" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:length value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="M1405">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Date_373" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_DT">
              <xs:minLength value="8" />
              <xs:maxLength value="8" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="M1406">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Bill of Lading/Waybill Number_598" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="25" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="M1407">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Standard Carrier Alpha Code_140" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="2" />
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="M1408">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Standard Carrier Alpha Code_140" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="2" />
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="M1409">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Quantity_380" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_R">
              <xs:minLength value="1" />
              <xs:maxLength value="15" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="M1410">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Reference Identification_127" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="M1411">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Location Identifier_310" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="K1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="K1" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Remarks" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="K101">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Free-Form Message_61" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="K102">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Free-Form Message_61" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="X12_ID_91">
    <xs:restriction base="xs:string">
      <xs:enumeration value="6" />
      <xs:enumeration value="7" />
      <xs:enumeration value="A" />
      <xs:enumeration value="AC" />
      <xs:enumeration value="AE" />
      <xs:enumeration value="AF" />
      <xs:enumeration value="AH" />
      <xs:enumeration value="AP" />
      <xs:enumeration value="AR" />
      <xs:enumeration value="B" />
      <xs:enumeration value="BB" />
      <xs:enumeration value="BP" />
      <xs:enumeration value="BU" />
      <xs:enumeration value="C" />
      <xs:enumeration value="CC" />
      <xs:enumeration value="CE" />
      <xs:enumeration value="D" />
      <xs:enumeration value="DA" />
      <xs:enumeration value="DW" />
      <xs:enumeration value="E" />
      <xs:enumeration value="ED" />
      <xs:enumeration value="F" />
      <xs:enumeration value="FA" />
      <xs:enumeration value="FL" />
      <xs:enumeration value="G" />
      <xs:enumeration value="GG" />
      <xs:enumeration value="GR" />
      <xs:enumeration value="GS" />
      <xs:enumeration value="H" />
      <xs:enumeration value="HH" />
      <xs:enumeration value="I" />
      <xs:enumeration value="IP" />
      <xs:enumeration value="J" />
      <xs:enumeration value="K" />
      <xs:enumeration value="L" />
      <xs:enumeration value="LA" />
      <xs:enumeration value="LD" />
      <xs:enumeration value="LT" />
      <xs:enumeration value="M" />
      <xs:enumeration value="MB" />
      <xs:enumeration value="MP" />
      <xs:enumeration value="MS" />
      <xs:enumeration value="N" />
      <xs:enumeration value="O" />
      <xs:enumeration value="P" />
      <xs:enumeration value="PA" />
      <xs:enumeration value="PG" />
      <xs:enumeration value="PL" />
      <xs:enumeration value="PP" />
      <xs:enumeration value="PR" />
      <xs:enumeration value="PT" />
      <xs:enumeration value="Q" />
      <xs:enumeration value="R" />
      <xs:enumeration value="RC" />
      <xs:enumeration value="RO" />
      <xs:enumeration value="RR" />
      <xs:enumeration value="S" />
      <xs:enumeration value="SB" />
      <xs:enumeration value="SC" />
      <xs:enumeration value="SD" />
      <xs:enumeration value="SE" />
      <xs:enumeration value="SF" />
      <xs:enumeration value="SR" />
      <xs:enumeration value="SS" />
      <xs:enumeration value="ST" />
      <xs:enumeration value="T" />
      <xs:enumeration value="TA" />
      <xs:enumeration value="TC" />
      <xs:enumeration value="TT" />
      <xs:enumeration value="U" />
      <xs:enumeration value="VA" />
      <xs:enumeration value="VE" />
      <xs:enumeration value="VL" />
      <xs:enumeration value="W" />
      <xs:enumeration value="WP" />
      <xs:enumeration value="X" />
      <xs:enumeration value="Y" />
      <xs:enumeration value="Y1" />
      <xs:enumeration value="Y2" />
      <xs:enumeration value="ZZ" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_256">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A" />
      <xs:enumeration value="B" />
      <xs:enumeration value="C" />
      <xs:enumeration value="D" />
      <xs:enumeration value="E" />
      <xs:enumeration value="F" />
      <xs:enumeration value="G" />
      <xs:enumeration value="H" />
      <xs:enumeration value="I" />
      <xs:enumeration value="J" />
      <xs:enumeration value="K" />
      <xs:enumeration value="L" />
      <xs:enumeration value="M" />
      <xs:enumeration value="P" />
      <xs:enumeration value="S" />
      <xs:enumeration value="T" />
      <xs:enumeration value="V" />
      <xs:enumeration value="W" />
      <xs:enumeration value="X" />
      <xs:enumeration value="Y" />
      <xs:enumeration value="Z" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_897">
    <xs:restriction base="xs:string">
      <xs:enumeration value="B" />
      <xs:enumeration value="C" />
      <xs:enumeration value="L" />
      <xs:enumeration value="Z" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_1073">
    <xs:restriction base="xs:string">
      <xs:enumeration value="N" />
      <xs:enumeration value="U" />
      <xs:enumeration value="W" />
      <xs:enumeration value="Y" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_353">
    <xs:restriction base="xs:string">
      <xs:enumeration value="00" />
      <xs:enumeration value="01" />
      <xs:enumeration value="02" />
      <xs:enumeration value="03" />
      <xs:enumeration value="04" />
      <xs:enumeration value="05" />
      <xs:enumeration value="06" />
      <xs:enumeration value="07" />
      <xs:enumeration value="08" />
      <xs:enumeration value="10" />
      <xs:enumeration value="11" />
      <xs:enumeration value="12" />
      <xs:enumeration value="13" />
      <xs:enumeration value="14" />
      <xs:enumeration value="15" />
      <xs:enumeration value="16" />
      <xs:enumeration value="17" />
      <xs:enumeration value="18" />
      <xs:enumeration value="19" />
      <xs:enumeration value="20" />
      <xs:enumeration value="21" />
      <xs:enumeration value="22" />
      <xs:enumeration value="24" />
      <xs:enumeration value="25" />
      <xs:enumeration value="26" />
      <xs:enumeration value="27" />
      <xs:enumeration value="28" />
      <xs:enumeration value="30" />
      <xs:enumeration value="31" />
      <xs:enumeration value="32" />
      <xs:enumeration value="33" />
      <xs:enumeration value="34" />
      <xs:enumeration value="35" />
      <xs:enumeration value="36" />
      <xs:enumeration value="37" />
      <xs:enumeration value="38" />
      <xs:enumeration value="39" />
      <xs:enumeration value="40" />
      <xs:enumeration value="41" />
      <xs:enumeration value="42" />
      <xs:enumeration value="43" />
      <xs:enumeration value="44" />
      <xs:enumeration value="45" />
      <xs:enumeration value="46" />
      <xs:enumeration value="47" />
      <xs:enumeration value="48" />
      <xs:enumeration value="49" />
      <xs:enumeration value="50" />
      <xs:enumeration value="51" />
      <xs:enumeration value="52" />
      <xs:enumeration value="53" />
      <xs:enumeration value="54" />
      <xs:enumeration value="55" />
      <xs:enumeration value="56" />
      <xs:enumeration value="57" />
      <xs:enumeration value="5C" />
      <xs:enumeration value="77" />
      <xs:enumeration value="CN" />
      <xs:enumeration value="CO" />
      <xs:enumeration value="EX" />
      <xs:enumeration value="GR" />
      <xs:enumeration value="PR" />
      <xs:enumeration value="RH" />
      <xs:enumeration value="RV" />
      <xs:enumeration value="SU" />
      <xs:enumeration value="ZZ" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_346">
    <xs:restriction base="xs:string">
      <xs:enumeration value="21" />
      <xs:enumeration value="22" />
      <xs:enumeration value="23" />
      <xs:enumeration value="24" />
      <xs:enumeration value="25" />
      <xs:enumeration value="26" />
      <xs:enumeration value="27" />
      <xs:enumeration value="28" />
      <xs:enumeration value="29" />
      <xs:enumeration value="30" />
      <xs:enumeration value="31" />
      <xs:enumeration value="32" />
      <xs:enumeration value="33" />
      <xs:enumeration value="34" />
      <xs:enumeration value="35" />
      <xs:enumeration value="36" />
      <xs:enumeration value="37" />
      <xs:enumeration value="38" />
      <xs:enumeration value="39" />
      <xs:enumeration value="40" />
      <xs:enumeration value="41" />
      <xs:enumeration value="42" />
      <xs:enumeration value="43" />
      <xs:enumeration value="44" />
      <xs:enumeration value="45" />
      <xs:enumeration value="46" />
      <xs:enumeration value="47" />
      <xs:enumeration value="48" />
      <xs:enumeration value="AN" />
      <xs:enumeration value="AT" />
      <xs:enumeration value="BD" />
      <xs:enumeration value="BG" />
      <xs:enumeration value="BH" />
      <xs:enumeration value="BL" />
      <xs:enumeration value="BN" />
      <xs:enumeration value="BR" />
      <xs:enumeration value="BT" />
      <xs:enumeration value="CD" />
      <xs:enumeration value="CF" />
      <xs:enumeration value="CI" />
      <xs:enumeration value="CL" />
      <xs:enumeration value="CO" />
      <xs:enumeration value="DL" />
      <xs:enumeration value="DO" />
      <xs:enumeration value="DT" />
      <xs:enumeration value="EP" />
      <xs:enumeration value="FA" />
      <xs:enumeration value="FR" />
      <xs:enumeration value="HR" />
      <xs:enumeration value="IS" />
      <xs:enumeration value="LB" />
      <xs:enumeration value="LS" />
      <xs:enumeration value="LT" />
      <xs:enumeration value="MF" />
      <xs:enumeration value="PC" />
      <xs:enumeration value="PI" />
      <xs:enumeration value="PL" />
      <xs:enumeration value="PP" />
      <xs:enumeration value="PS" />
      <xs:enumeration value="R1" />
      <xs:enumeration value="R2" />
      <xs:enumeration value="R3" />
      <xs:enumeration value="R4" />
      <xs:enumeration value="RD" />
      <xs:enumeration value="RO" />
      <xs:enumeration value="RP" />
      <xs:enumeration value="RQ" />
      <xs:enumeration value="RR" />
      <xs:enumeration value="RS" />
      <xs:enumeration value="S1" />
      <xs:enumeration value="S2" />
      <xs:enumeration value="SI" />
      <xs:enumeration value="SL" />
      <xs:enumeration value="SP" />
      <xs:enumeration value="SS" />
      <xs:enumeration value="T1" />
      <xs:enumeration value="T2" />
      <xs:enumeration value="T3" />
      <xs:enumeration value="T4" />
      <xs:enumeration value="TF" />
      <xs:enumeration value="TG" />
      <xs:enumeration value="TM" />
      <xs:enumeration value="TQ" />
      <xs:enumeration value="ZZ" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_392">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="date">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d*-\d\d-\d\d" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="time">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d\d:\d\d(:\d\d)?" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_N">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_R">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_AN">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_ID">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_DT">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_TM">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N0">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N1">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N2">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N3">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N4">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N5">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N6">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N7">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N8">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N9">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
</xs:schema>