BizTalk Server/Tools/BizTalkMigrationTool/MigrationTool/HostSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Hosts">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Host">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="HostInstance">
								<xs:complexType>
									<xs:attribute name="server" type="xs:string" use="required" />
									<xs:attribute name="userName" type="xs:string" use="required" />
									<xs:attribute name="password" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required" />
						<xs:attribute name="inProcess" type="xs:boolean" use="required" />
						<xs:attribute name="ntGroupName" type="xs:string" use="required" />
						<xs:attribute name="authenticationTrusted" type="xs:boolean" use="required" />
            <xs:attribute name="hostTracking" type="xs:boolean" use="required" />
            <xs:attribute name="is32bit" type="xs:boolean" use="required" />
            <xs:attribute name="isDefaultHost" type="xs:boolean" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>