BizTalk Server/Schema/X12/00302/X12_00302_466.xsd

<?xml version="1.0"?>
<xs:schema xmlns:btsedi="http://schemas.microsoft.com/BizTalk/2005/EdiSchemaEditorExtension" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns="http://schemas.microsoft.com/BizTalk/EDI/X12/2006" targetNamespace="http://schemas.microsoft.com/BizTalk/EDI/X12/2006" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <schemaEditorExtension:schemaInfo namespaceAlias="btsedi" extensionClass="Microsoft.BizTalk.Edi.SchemaEditorExtension.EdiSchemaExtension" standardName="EDI" xmlns:schemaEditorExtension="http://schemas.microsoft.com/BizTalk/2003/SchemaEditorExtensions" />
      <b:schemaInfo version="1.0" document_type="466" standard="EDI" standards_version="00302" root_reference="X12_00302_466" displayroot_reference="X12_00302_466" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" X12ConditionDesignator_Check="No" />
    </xs:appinfo>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation xml:lang="en">copyright © Microsoft Corporation. All rights reserved.</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>Schema name: X12_3020_466</xs:documentation>
  </xs:annotation>
  <xs:element name="X12_00302_466">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="postfix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Rate Request" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ST">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Transaction Set Header" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ST01">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Transaction Set Identifier Code_143" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="3" />
                    <xs:maxLength value="3" />
                    <xs:enumeration value="466" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ST02">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Transaction Set Control Number_329" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="4" />
                    <xs:maxLength value="9" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="ST03">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Implementation Convention Preference_1705" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="1" />
                    <xs:maxLength value="9" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="25" ref="AC">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="AC" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Movement Rate Set Header">
                <b:Rule subjects="X12ConditionDesignatorX_Required" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="AC07" />
                  <b:Subject name="AC08" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Required" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="AC09" />
                  <b:Subject name="AC10" />
                </b:Rule>
              </b:recordInfo>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="SE">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Transaction Set Trailer" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SE01">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Number of Included Segments_96" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="1" />
                    <xs:maxLength value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="SE02">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Transaction Set Control Number_329" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="4" />
                    <xs:maxLength value="9" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AC">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="AC" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Movement Rate Set Header">
          <b:Rule subjects="X12ConditionDesignatorX_Required" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="AC07" />
            <b:Subject name="AC08" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Required" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="AC09" />
            <b:Subject name="AC10" />
          </b:Rule>
        </b:recordInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AC01" type="X12_ID_23">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Commodity Code Qualifier_23" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="AC02">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Commodity Code_22" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="16" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AC03" type="X12_ID_635">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Rate Request/Response Code_635" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="AC04" type="X12_ID_692">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Conveyance Code_692" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="AC05" type="X12_ID_309">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Location Qualifier_309" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="AC06" type="X12_ID_309">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Location Qualifier_309" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="AC07">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="State or Province Code_156" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:length value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AC08">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Location Identifier_310" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="25" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AC09">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="State or Province Code_156" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:length value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AC10">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Location Identifier_310" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="25" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AC11">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Condition Code_498" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:length value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AC12">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Condition Value_499" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="10" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AC13">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Date_373" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_DT">
              <xs:minLength value="6" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AC14">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Date_373" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_DT">
              <xs:minLength value="6" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AC15">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Standard Carrier Alpha Code_140" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="2" />
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AC16">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Standard Carrier Alpha Code_140" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="2" />
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="X12_ID_23">
    <xs:restriction base="xs:string">
      <xs:enumeration value="2" />
      <xs:enumeration value="A" />
      <xs:enumeration value="B" />
      <xs:enumeration value="C" />
      <xs:enumeration value="D" />
      <xs:enumeration value="E" />
      <xs:enumeration value="F" />
      <xs:enumeration value="G" />
      <xs:enumeration value="H" />
      <xs:enumeration value="I" />
      <xs:enumeration value="J" />
      <xs:enumeration value="K" />
      <xs:enumeration value="L" />
      <xs:enumeration value="N" />
      <xs:enumeration value="P" />
      <xs:enumeration value="Q" />
      <xs:enumeration value="S" />
      <xs:enumeration value="T" />
      <xs:enumeration value="U" />
      <xs:enumeration value="Z" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_635">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
      <xs:enumeration value="A" />
      <xs:enumeration value="D" />
      <xs:enumeration value="F" />
      <xs:enumeration value="I" />
      <xs:enumeration value="P" />
      <xs:enumeration value="T" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_692">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="A" />
      <xs:enumeration value="B" />
      <xs:enumeration value="C" />
      <xs:enumeration value="D" />
      <xs:enumeration value="E" />
      <xs:enumeration value="F" />
      <xs:enumeration value="G" />
      <xs:enumeration value="H" />
      <xs:enumeration value="I" />
      <xs:enumeration value="J" />
      <xs:enumeration value="K" />
      <xs:enumeration value="L" />
      <xs:enumeration value="M" />
      <xs:enumeration value="N" />
      <xs:enumeration value="O" />
      <xs:enumeration value="P" />
      <xs:enumeration value="Q" />
      <xs:enumeration value="R" />
      <xs:enumeration value="S" />
      <xs:enumeration value="T" />
      <xs:enumeration value="U" />
      <xs:enumeration value="V" />
      <xs:enumeration value="W" />
      <xs:enumeration value="Y" />
      <xs:enumeration value="Z" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_309">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AC" />
      <xs:enumeration value="AR" />
      <xs:enumeration value="BS" />
      <xs:enumeration value="CA" />
      <xs:enumeration value="CC" />
      <xs:enumeration value="CD" />
      <xs:enumeration value="CI" />
      <xs:enumeration value="CL" />
      <xs:enumeration value="CO" />
      <xs:enumeration value="CS" />
      <xs:enumeration value="CY" />
      <xs:enumeration value="D" />
      <xs:enumeration value="DC" />
      <xs:enumeration value="DE" />
      <xs:enumeration value="FA" />
      <xs:enumeration value="FE" />
      <xs:enumeration value="FF" />
      <xs:enumeration value="FI" />
      <xs:enumeration value="FV" />
      <xs:enumeration value="IM" />
      <xs:enumeration value="IP" />
      <xs:enumeration value="K" />
      <xs:enumeration value="MI" />
      <xs:enumeration value="NS" />
      <xs:enumeration value="OA" />
      <xs:enumeration value="OL" />
      <xs:enumeration value="OP" />
      <xs:enumeration value="OR" />
      <xs:enumeration value="OV" />
      <xs:enumeration value="PA" />
      <xs:enumeration value="PE" />
      <xs:enumeration value="PL" />
      <xs:enumeration value="PP" />
      <xs:enumeration value="PQ" />
      <xs:enumeration value="PR" />
      <xs:enumeration value="PS" />
      <xs:enumeration value="PT" />
      <xs:enumeration value="PU" />
      <xs:enumeration value="RL" />
      <xs:enumeration value="RS" />
      <xs:enumeration value="RT" />
      <xs:enumeration value="SB" />
      <xs:enumeration value="SC" />
      <xs:enumeration value="SL" />
      <xs:enumeration value="SN" />
      <xs:enumeration value="SP" />
      <xs:enumeration value="SW" />
      <xs:enumeration value="TC" />
      <xs:enumeration value="TL" />
      <xs:enumeration value="TN" />
      <xs:enumeration value="TR" />
      <xs:enumeration value="TX" />
      <xs:enumeration value="UR" />
      <xs:enumeration value="VS" />
      <xs:enumeration value="W" />
      <xs:enumeration value="WH" />
      <xs:enumeration value="ZZ" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="date">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d*-\d\d-\d\d" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="time">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d\d:\d\d(:\d\d)?" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_N">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_R">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_AN">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_ID">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_DT">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_TM">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N0">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N1">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N2">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N3">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N4">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N5">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N6">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N7">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N8">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N9">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
</xs:schema>