BizTalk Server/Schema/X12/00305/X12_00305_358.xsd

<?xml version="1.0"?>
<xs:schema xmlns:btsedi="http://schemas.microsoft.com/BizTalk/2005/EdiSchemaEditorExtension" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns="http://schemas.microsoft.com/BizTalk/EDI/X12/2006" targetNamespace="http://schemas.microsoft.com/BizTalk/EDI/X12/2006" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <schemaEditorExtension:schemaInfo namespaceAlias="btsedi" extensionClass="Microsoft.BizTalk.Edi.SchemaEditorExtension.EdiSchemaExtension" standardName="EDI" xmlns:schemaEditorExtension="http://schemas.microsoft.com/BizTalk/2003/SchemaEditorExtensions" />
      <b:schemaInfo version="1.0" document_type="358" standard="EDI" standards_version="00305" root_reference="X12_00305_358" displayroot_reference="X12_00305_358" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" X12ConditionDesignator_Check="No" />
    </xs:appinfo>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation xml:lang="en">copyright © Microsoft Corporation. All rights reserved.</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>Schema name: X12_3050_358</xs:documentation>
  </xs:annotation>
  <xs:element name="X12_00305_358">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="postfix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="U.S. Customs Consist Information" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ST">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Transaction Set Header" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ST01">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Transaction Set Identifier Code_143" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="3" />
                    <xs:maxLength value="3" />
                    <xs:enumeration value="358" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ST02">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Transaction Set Control Number_329" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="4" />
                    <xs:maxLength value="9" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="ST03">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Implementation Convention Preference_1705" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="1" />
                    <xs:maxLength value="9" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="M10">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="M10" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Manifest Identifying Information">
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="M1004" />
                  <b:Subject name="M1010" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Required" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="M1005" />
                  <b:Subject name="M1004" />
                </b:Rule>
              </b:recordInfo>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="20" ref="P4Loop1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Port of Discharge Information" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="SE">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Transaction Set Trailer" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SE01">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Number of Included Segments_96" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="1" />
                    <xs:maxLength value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="SE02">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Transaction Set Control Number_329" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="4" />
                    <xs:maxLength value="9" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MBLLoop1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Bill of Lading" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MBL">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="MBL" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Bill of Lading" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="500" ref="VID_2">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="VID" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Vehicle ID" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="P4Loop1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Port of Discharge Information" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="P4">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="P4" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Port of Discharge Information" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="500" ref="VID">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="VID" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Vehicle ID" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="9999" ref="MBLLoop1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Bill of Lading" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="M10">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="M10" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Manifest Identifying Information">
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="M1004" />
            <b:Subject name="M1010" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Required" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="M1005" />
            <b:Subject name="M1004" />
          </b:Rule>
        </b:recordInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="M1001">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Standard Carrier Alpha Code_140" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="2" />
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="M1002" type="X12_ID_91">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Transportation Method/Type Code_91" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="M1003">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Country Code_26" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="2" />
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="M1004">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Vessel Code_597" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="1" />
              <xs:maxLength value="7" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="M1005">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Vessel Name_182" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="2" />
              <xs:maxLength value="28" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="M1006">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Flight/Voyage Number_55" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="2" />
              <xs:maxLength value="10" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="M1007">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Reference Number_127" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="M1008">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Quantity_380" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_R">
              <xs:minLength value="1" />
              <xs:maxLength value="15" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="M1009" type="X12_ID_256">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Manifest Type Code_256" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="M1010" type="X12_ID_897">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Vessel Code Qualifier_897" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="M1011" type="X12_ID_1073">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Yes/No Condition or Response Code_1073" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="M1012">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Reference Number_127" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="P4">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="P4" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Port of Discharge Information" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="P401">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Location Identifier_310" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="P402">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="ETA Date_45" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_DT">
              <xs:minLength value="6" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="P403">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Quantity_380" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_R">
              <xs:minLength value="1" />
              <xs:maxLength value="15" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VID">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="VID" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Vehicle ID" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VID01" type="X12_ID_40">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Equipment Description Code_40" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="VID02">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Equipment Initial_206" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="VID03">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Equipment Number_207" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="10" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="VID04">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Seal Number_225" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="2" />
              <xs:maxLength value="15" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="VID05">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Seal Number_225" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="2" />
              <xs:maxLength value="15" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="VID06">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Equipment Length_567" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="4" />
              <xs:maxLength value="5" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="VID07">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Height_65" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_R">
              <xs:minLength value="1" />
              <xs:maxLength value="8" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="VID08">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Width_189" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_R">
              <xs:minLength value="1" />
              <xs:maxLength value="8" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="VID09">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Equipment Type_24" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:length value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MBL">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="MBL" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Bill of Lading" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MBL01">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Standard Carrier Alpha Code_140" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="2" />
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MBL02">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Bill of Lading/Waybill Number_598" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="12" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="MBL03" type="X12_ID_306">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Action Code_306" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VID_2">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="VID_2" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Vehicle ID" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VID01" type="X12_ID_40">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Equipment Description Code_40" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="VID02">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Equipment Initial_206" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="VID03">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Equipment Number_207" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="10" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="VID04">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Seal Number_225" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="2" />
              <xs:maxLength value="15" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="VID05">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Seal Number_225" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="2" />
              <xs:maxLength value="15" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="VID06">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Equipment Length_567" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="4" />
              <xs:maxLength value="5" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="VID07">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Height_65" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_R">
              <xs:minLength value="1" />
              <xs:maxLength value="8" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="VID08">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Width_189" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_R">
              <xs:minLength value="1" />
              <xs:maxLength value="8" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="VID09">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Equipment Type_24" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:length value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="X12_ID_91">
    <xs:restriction base="xs:string">
      <xs:enumeration value="6" />
      <xs:enumeration value="7" />
      <xs:enumeration value="A" />
      <xs:enumeration value="AC" />
      <xs:enumeration value="AE" />
      <xs:enumeration value="AF" />
      <xs:enumeration value="AH" />
      <xs:enumeration value="AQ" />
      <xs:enumeration value="AR" />
      <xs:enumeration value="B" />
      <xs:enumeration value="BP" />
      <xs:enumeration value="BU" />
      <xs:enumeration value="C" />
      <xs:enumeration value="CE" />
      <xs:enumeration value="D" />
      <xs:enumeration value="DA" />
      <xs:enumeration value="DW" />
      <xs:enumeration value="E" />
      <xs:enumeration value="ED" />
      <xs:enumeration value="F" />
      <xs:enumeration value="FA" />
      <xs:enumeration value="FL" />
      <xs:enumeration value="GG" />
      <xs:enumeration value="GR" />
      <xs:enumeration value="GS" />
      <xs:enumeration value="H" />
      <xs:enumeration value="I" />
      <xs:enumeration value="J" />
      <xs:enumeration value="K" />
      <xs:enumeration value="L" />
      <xs:enumeration value="LA" />
      <xs:enumeration value="LT" />
      <xs:enumeration value="M" />
      <xs:enumeration value="MB" />
      <xs:enumeration value="MP" />
      <xs:enumeration value="N" />
      <xs:enumeration value="O" />
      <xs:enumeration value="P" />
      <xs:enumeration value="PA" />
      <xs:enumeration value="PG" />
      <xs:enumeration value="PL" />
      <xs:enumeration value="PP" />
      <xs:enumeration value="PR" />
      <xs:enumeration value="PT" />
      <xs:enumeration value="Q" />
      <xs:enumeration value="R" />
      <xs:enumeration value="RC" />
      <xs:enumeration value="RR" />
      <xs:enumeration value="S" />
      <xs:enumeration value="SB" />
      <xs:enumeration value="SC" />
      <xs:enumeration value="SD" />
      <xs:enumeration value="SE" />
      <xs:enumeration value="SR" />
      <xs:enumeration value="SS" />
      <xs:enumeration value="ST" />
      <xs:enumeration value="T" />
      <xs:enumeration value="TA" />
      <xs:enumeration value="TC" />
      <xs:enumeration value="U" />
      <xs:enumeration value="VA" />
      <xs:enumeration value="VE" />
      <xs:enumeration value="VL" />
      <xs:enumeration value="W" />
      <xs:enumeration value="WP" />
      <xs:enumeration value="X" />
      <xs:enumeration value="Y" />
      <xs:enumeration value="Y1" />
      <xs:enumeration value="Y2" />
      <xs:enumeration value="ZZ" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_256">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A" />
      <xs:enumeration value="B" />
      <xs:enumeration value="C" />
      <xs:enumeration value="D" />
      <xs:enumeration value="E" />
      <xs:enumeration value="F" />
      <xs:enumeration value="G" />
      <xs:enumeration value="H" />
      <xs:enumeration value="I" />
      <xs:enumeration value="J" />
      <xs:enumeration value="K" />
      <xs:enumeration value="L" />
      <xs:enumeration value="P" />
      <xs:enumeration value="S" />
      <xs:enumeration value="V" />
      <xs:enumeration value="W" />
      <xs:enumeration value="X" />
      <xs:enumeration value="Y" />
      <xs:enumeration value="Z" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_897">
    <xs:restriction base="xs:string">
      <xs:enumeration value="B" />
      <xs:enumeration value="C" />
      <xs:enumeration value="L" />
      <xs:enumeration value="Z" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_1073">
    <xs:restriction base="xs:string">
      <xs:enumeration value="N" />
      <xs:enumeration value="U" />
      <xs:enumeration value="Y" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_40">
    <xs:restriction base="xs:string">
      <xs:enumeration value="20" />
      <xs:enumeration value="2B" />
      <xs:enumeration value="2D" />
      <xs:enumeration value="2E" />
      <xs:enumeration value="40" />
      <xs:enumeration value="4B" />
      <xs:enumeration value="AC" />
      <xs:enumeration value="AF" />
      <xs:enumeration value="AL" />
      <xs:enumeration value="AP" />
      <xs:enumeration value="AT" />
      <xs:enumeration value="BC" />
      <xs:enumeration value="BE" />
      <xs:enumeration value="BF" />
      <xs:enumeration value="BG" />
      <xs:enumeration value="BH" />
      <xs:enumeration value="BJ" />
      <xs:enumeration value="BO" />
      <xs:enumeration value="BR" />
      <xs:enumeration value="BX" />
      <xs:enumeration value="CA" />
      <xs:enumeration value="CB" />
      <xs:enumeration value="CC" />
      <xs:enumeration value="CD" />
      <xs:enumeration value="CG" />
      <xs:enumeration value="CH" />
      <xs:enumeration value="CI" />
      <xs:enumeration value="CJ" />
      <xs:enumeration value="CK" />
      <xs:enumeration value="CL" />
      <xs:enumeration value="CM" />
      <xs:enumeration value="CN" />
      <xs:enumeration value="CP" />
      <xs:enumeration value="CQ" />
      <xs:enumeration value="CR" />
      <xs:enumeration value="CS" />
      <xs:enumeration value="CT" />
      <xs:enumeration value="CU" />
      <xs:enumeration value="CV" />
      <xs:enumeration value="CW" />
      <xs:enumeration value="CZ" />
      <xs:enumeration value="DD" />
      <xs:enumeration value="DF" />
      <xs:enumeration value="DT" />
      <xs:enumeration value="DX" />
      <xs:enumeration value="ET" />
      <xs:enumeration value="FH" />
      <xs:enumeration value="FN" />
      <xs:enumeration value="FP" />
      <xs:enumeration value="FR" />
      <xs:enumeration value="FS" />
      <xs:enumeration value="FT" />
      <xs:enumeration value="FX" />
      <xs:enumeration value="GS" />
      <xs:enumeration value="HB" />
      <xs:enumeration value="HC" />
      <xs:enumeration value="HO" />
      <xs:enumeration value="HP" />
      <xs:enumeration value="HT" />
      <xs:enumeration value="HV" />
      <xs:enumeration value="HY" />
      <xs:enumeration value="ID" />
      <xs:enumeration value="IX" />
      <xs:enumeration value="LO" />
      <xs:enumeration value="LU" />
      <xs:enumeration value="NX" />
      <xs:enumeration value="OB" />
      <xs:enumeration value="OT" />
      <xs:enumeration value="OV" />
      <xs:enumeration value="PP" />
      <xs:enumeration value="PT" />
      <xs:enumeration value="PU" />
      <xs:enumeration value="RA" />
      <xs:enumeration value="RC" />
      <xs:enumeration value="RD" />
      <xs:enumeration value="RE" />
      <xs:enumeration value="RF" />
      <xs:enumeration value="RG" />
      <xs:enumeration value="RI" />
      <xs:enumeration value="RO" />
      <xs:enumeration value="RR" />
      <xs:enumeration value="RS" />
      <xs:enumeration value="RT" />
      <xs:enumeration value="SA" />
      <xs:enumeration value="SC" />
      <xs:enumeration value="SD" />
      <xs:enumeration value="SK" />
      <xs:enumeration value="SL" />
      <xs:enumeration value="SR" />
      <xs:enumeration value="SS" />
      <xs:enumeration value="ST" />
      <xs:enumeration value="SV" />
      <xs:enumeration value="TA" />
      <xs:enumeration value="TB" />
      <xs:enumeration value="TC" />
      <xs:enumeration value="TF" />
      <xs:enumeration value="TG" />
      <xs:enumeration value="TH" />
      <xs:enumeration value="TI" />
      <xs:enumeration value="TJ" />
      <xs:enumeration value="TK" />
      <xs:enumeration value="TL" />
      <xs:enumeration value="TM" />
      <xs:enumeration value="TN" />
      <xs:enumeration value="TO" />
      <xs:enumeration value="TP" />
      <xs:enumeration value="TQ" />
      <xs:enumeration value="TR" />
      <xs:enumeration value="TT" />
      <xs:enumeration value="TU" />
      <xs:enumeration value="TV" />
      <xs:enumeration value="TW" />
      <xs:enumeration value="UA" />
      <xs:enumeration value="UB" />
      <xs:enumeration value="UC" />
      <xs:enumeration value="UD" />
      <xs:enumeration value="UE" />
      <xs:enumeration value="UL" />
      <xs:enumeration value="UP" />
      <xs:enumeration value="VA" />
      <xs:enumeration value="VE" />
      <xs:enumeration value="VL" />
      <xs:enumeration value="VR" />
      <xs:enumeration value="VS" />
      <xs:enumeration value="VT" />
      <xs:enumeration value="WR" />
      <xs:enumeration value="WY" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_306">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1" />
      <xs:enumeration value="15" />
      <xs:enumeration value="2" />
      <xs:enumeration value="23" />
      <xs:enumeration value="24" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
      <xs:enumeration value="5" />
      <xs:enumeration value="51" />
      <xs:enumeration value="6" />
      <xs:enumeration value="7" />
      <xs:enumeration value="8" />
      <xs:enumeration value="9" />
      <xs:enumeration value="A" />
      <xs:enumeration value="A1" />
      <xs:enumeration value="A2" />
      <xs:enumeration value="A3" />
      <xs:enumeration value="A4" />
      <xs:enumeration value="A5" />
      <xs:enumeration value="A6" />
      <xs:enumeration value="AA" />
      <xs:enumeration value="AC" />
      <xs:enumeration value="AD" />
      <xs:enumeration value="AF" />
      <xs:enumeration value="AI" />
      <xs:enumeration value="AL" />
      <xs:enumeration value="AM" />
      <xs:enumeration value="AP" />
      <xs:enumeration value="AS" />
      <xs:enumeration value="AV" />
      <xs:enumeration value="AW" />
      <xs:enumeration value="AX" />
      <xs:enumeration value="BI" />
      <xs:enumeration value="BO" />
      <xs:enumeration value="C" />
      <xs:enumeration value="CA" />
      <xs:enumeration value="CF" />
      <xs:enumeration value="CL" />
      <xs:enumeration value="CN" />
      <xs:enumeration value="CO" />
      <xs:enumeration value="CR" />
      <xs:enumeration value="CS" />
      <xs:enumeration value="CT" />
      <xs:enumeration value="CU" />
      <xs:enumeration value="CV" />
      <xs:enumeration value="CX" />
      <xs:enumeration value="D" />
      <xs:enumeration value="DC" />
      <xs:enumeration value="DE" />
      <xs:enumeration value="DF" />
      <xs:enumeration value="DI" />
      <xs:enumeration value="DJ" />
      <xs:enumeration value="DK" />
      <xs:enumeration value="DL" />
      <xs:enumeration value="DN" />
      <xs:enumeration value="DP" />
      <xs:enumeration value="DS" />
      <xs:enumeration value="DX" />
      <xs:enumeration value="E" />
      <xs:enumeration value="EN" />
      <xs:enumeration value="ER" />
      <xs:enumeration value="EX" />
      <xs:enumeration value="F" />
      <xs:enumeration value="FI" />
      <xs:enumeration value="FO" />
      <xs:enumeration value="FR" />
      <xs:enumeration value="GR" />
      <xs:enumeration value="H" />
      <xs:enumeration value="HR" />
      <xs:enumeration value="I" />
      <xs:enumeration value="IN" />
      <xs:enumeration value="IS" />
      <xs:enumeration value="IT" />
      <xs:enumeration value="JD" />
      <xs:enumeration value="JO" />
      <xs:enumeration value="JP" />
      <xs:enumeration value="JS" />
      <xs:enumeration value="JU" />
      <xs:enumeration value="K" />
      <xs:enumeration value="KA" />
      <xs:enumeration value="L" />
      <xs:enumeration value="LC" />
      <xs:enumeration value="M" />
      <xs:enumeration value="ME" />
      <xs:enumeration value="N" />
      <xs:enumeration value="NA" />
      <xs:enumeration value="ND" />
      <xs:enumeration value="NP" />
      <xs:enumeration value="NS" />
      <xs:enumeration value="O" />
      <xs:enumeration value="OD" />
      <xs:enumeration value="OR" />
      <xs:enumeration value="OT" />
      <xs:enumeration value="P" />
      <xs:enumeration value="PB" />
      <xs:enumeration value="PF" />
      <xs:enumeration value="PI" />
      <xs:enumeration value="PL" />
      <xs:enumeration value="PN" />
      <xs:enumeration value="PO" />
      <xs:enumeration value="PR" />
      <xs:enumeration value="Q" />
      <xs:enumeration value="R" />
      <xs:enumeration value="R1" />
      <xs:enumeration value="R2" />
      <xs:enumeration value="R3" />
      <xs:enumeration value="R4" />
      <xs:enumeration value="R5" />
      <xs:enumeration value="R6" />
      <xs:enumeration value="R7" />
      <xs:enumeration value="R8" />
      <xs:enumeration value="R9" />
      <xs:enumeration value="RC" />
      <xs:enumeration value="RE" />
      <xs:enumeration value="RF" />
      <xs:enumeration value="RG" />
      <xs:enumeration value="RH" />
      <xs:enumeration value="RL" />
      <xs:enumeration value="RM" />
      <xs:enumeration value="RO" />
      <xs:enumeration value="RR" />
      <xs:enumeration value="RS" />
      <xs:enumeration value="RU" />
      <xs:enumeration value="RV" />
      <xs:enumeration value="RX" />
      <xs:enumeration value="SA" />
      <xs:enumeration value="SE" />
      <xs:enumeration value="SL" />
      <xs:enumeration value="SU" />
      <xs:enumeration value="SV" />
      <xs:enumeration value="SZ" />
      <xs:enumeration value="T" />
      <xs:enumeration value="U" />
      <xs:enumeration value="V" />
      <xs:enumeration value="VA" />
      <xs:enumeration value="VD" />
      <xs:enumeration value="VX" />
      <xs:enumeration value="W" />
      <xs:enumeration value="W1" />
      <xs:enumeration value="WD" />
      <xs:enumeration value="WQ" />
      <xs:enumeration value="WV" />
      <xs:enumeration value="Z" />
      <xs:enumeration value="ZZ" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="date">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d*-\d\d-\d\d" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="time">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d\d:\d\d(:\d\d)?" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_N">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_R">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_AN">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_ID">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_DT">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_TM">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N0">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N1">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N2">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N3">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N4">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N5">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N6">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N7">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N8">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N9">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
</xs:schema>