BizTalk Server/Schema/EANCOM/EAN97/EFACT_D96A_CONDRA.xsd

<?xml version="1.0"?>
<xs:schema xmlns:btsedi="http://schemas.microsoft.com/BizTalk/2005/EdiSchemaEditorExtension" xmlns:b="http://schemas.microsoft.com/BizTalk/2003/EANCOM" xmlns="http://schemas.microsoft.com/BizTalk/EDI/EDIFACT/2006" targetNamespace="http://schemas.microsoft.com/BizTalk/EDI/EDIFACT/2006" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <schemaEditorExtension:schemaInfo namespaceAlias="btsedi" extensionClass="Microsoft.BizTalk.Edi.SchemaEditorExtension.EdiSchemaExtension" standardName="EDI" xmlns:schemaEditorExtension="http://schemas.microsoft.com/BizTalk/2003/SchemaEditorExtensions" />
      <b:schemaInfo is_envelope="no" version="1.0" document_type="CONDRA" standard="EDI" standards_version="D96A" root_reference="EFACT_D96A_CONDRA" displayroot_reference="EFACT_D96A_CONDRA" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" EdifactDependencyRule_Check="No" />
    </xs:appinfo>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation xml:lang="en">copyright © Microsoft Corporation. All rights reserved.</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>Schema name: EFACT_d96a_CONDRA</xs:documentation>
  </xs:annotation>
  <xs:element name="EFACT_D96A_CONDRA">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="postfix" delimiter_type="inherit_record" count_ignore="yes" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Drawing administration message" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UNH">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Message Header" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="UNH1">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Message Reference Number_0062" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="EDIFACT_AN">
                    <xs:minLength value="1" />
                    <xs:maxLength value="14" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="UNH2">
                <xs:annotation>
                  <xs:appinfo>
                    <b:recordInfo notes="Message Identifier" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="UNH2.1">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Message Type Identifier_0065" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="EDIFACT_AN">
                          <xs:minLength value="1" />
                          <xs:maxLength value="6" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="UNH2.2">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Message Type Version Number_0052" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="EDIFACT_AN">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="UNH2.3">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Message Type Release Number_0054" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="EDIFACT_AN">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="UNH2.4">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Controlling Agency_0051" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="EDIFACT_AN">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="UNH2.5">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Association Assigned Code_0057" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="EDIFACT_AN">
                          <xs:minLength value="1" />
                          <xs:maxLength value="6" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="UNH2.6">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Code List Directory Version Number_0110" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="EDIFACT_AN">
                          <xs:minLength value="1" />
                          <xs:maxLength value="6" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="UNH2.7">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Message Type Sub-function Identification" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="EDIFACT_AN">
                          <xs:minLength value="1" />
                          <xs:maxLength value="6" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="UNH3">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Common Access Reference_0068" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="EDIFACT_AN">
                    <xs:minLength value="1" />
                    <xs:maxLength value="35" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="UNH4">
                <xs:annotation>
                  <xs:appinfo>
                    <b:recordInfo notes="Status of the Transfer" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="UNH4.1">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Sequence Message Transfer Number_0070" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="EDIFACT_N">
                          <xs:minLength value="1" />
                          <xs:maxLength value="2" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="UNH4.2">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="First/Last Sequence Message Transfer Indication_0073" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="EDIFACT_A">
                          <xs:length value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="UNH5">
                <xs:annotation>
                  <xs:appinfo>
                    <b:recordInfo notes="Message Subset Identification" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="UNH5.1">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Message Subset Identification_0115" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="EDIFACT_AN">
                          <xs:minLength value="1" />
                          <xs:maxLength value="14" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="UNH5.2">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Message Subset Version Number_0116" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="EDIFACT_AN">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="UNH5.3">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Message Subset Release Number_0118" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="EDIFACT_AN">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="UNH5.4">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Controlling Agency, Coded_0051" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="EDIFACT_AN">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="UNH6">
                <xs:annotation>
                  <xs:appinfo>
                    <b:recordInfo notes="Message Implementation Guideline Identification" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="UNH6.1">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Message Implementation Guideline Identification_0121" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="EDIFACT_AN">
                          <xs:minLength value="1" />
                          <xs:maxLength value="14" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="UNH6.2">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Message Implementation Guideline Version Number_0122" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="EDIFACT_AN">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="UNH6.3">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Message Implementation Guideline Release Number_0124" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="EDIFACT_AN">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="UNH6.4">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Controlling Agency, Coded_0051" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="EDIFACT_AN">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="UNH7">
                <xs:annotation>
                  <xs:appinfo>
                    <b:recordInfo notes="Scenario Identification" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="UNH7.1">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Scenario Identification_0127" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="EDIFACT_AN">
                          <xs:minLength value="1" />
                          <xs:maxLength value="14" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="UNH7.2">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Scenario Version Number_0128" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="EDIFACT_AN">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="UNH7.3">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Scenario Release Number_0130" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="EDIFACT_AN">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="UNH7.4">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Controlling Agency, Coded_0051" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="EDIFACT_AN">
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="BGM">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="BGM" delimiter_type="inherit_field" count_ignore="no" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="BEGINNING OF MESSAGE" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="5" ref="DTM">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="DTM" delimiter_type="inherit_field" count_ignore="no" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="DATE/TIME/PERIOD" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="10" ref="RFFLoop1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for REFERENCE" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="999" ref="NADLoop1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for NAME AND ADDRESS" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="99" ref="EFILoop1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for EXTERNAL FILE LINK IDENTIFICATION" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="UNT">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Message Trailer" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="UNT1">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Number of Segments in a Message_0074" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="EDIFACT_N">
                    <xs:minLength value="1" />
                    <xs:maxLength value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="UNT2">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Message Reference Number_0062" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="EDIFACT_AN">
                    <xs:minLength value="1" />
                    <xs:maxLength value="14" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RFFLoop1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for REFERENCE" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RFF">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="RFF" delimiter_type="inherit_field" count_ignore="no" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="REFERENCE" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CTALoop1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for CONTACT INFORMATION" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CTA">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="CTA" delimiter_type="inherit_field" count_ignore="no" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="CONTACT INFORMATION" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="5" ref="COM">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="COM" delimiter_type="inherit_field" count_ignore="no" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="COMMUNICATION CONTACT" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NADLoop1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for NAME AND ADDRESS" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="NAD">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="NAD" delimiter_type="inherit_field" count_ignore="no" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="NAME AND ADDRESS" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="10" ref="CTALoop1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for CONTACT INFORMATION" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EFILoop1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for EXTERNAL FILE LINK IDENTIFICATION" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="EFI">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="EFI" delimiter_type="inherit_field" count_ignore="no" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="EXTERNAL FILE LINK IDENTIFICATION" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="10" ref="CED">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="CED" delimiter_type="inherit_field" count_ignore="no" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="COMPUTER ENVIRONMENT DETAILS" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="10" ref="RFF_2">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="RFF" delimiter_type="inherit_field" count_ignore="no" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="REFERENCE" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="5" ref="DTM_2">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="DTM" delimiter_type="inherit_field" count_ignore="no" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="DATE/TIME/PERIOD" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="5" ref="QTY">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="QTY" delimiter_type="inherit_field" count_ignore="no" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="QUANTITY" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BGM">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="BGM" delimiter_type="inherit_field" count_ignore="no" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="BEGINNING OF MESSAGE" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="C002">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="1" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="DOCUMENT/MESSAGE NAME" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="BGM02">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="DOCUMENT/MESSAGE NUMBER_1004" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="BGM03" type="EDIFACT_ID_1225">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="MESSAGE FUNCTION, CODED_1225" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="BGM04" type="EDIFACT_ID_4343">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="RESPONSE TYPE, CODED_4343" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTM">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="DTM" delimiter_type="inherit_field" count_ignore="no" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="DATE/TIME/PERIOD" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="C507">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="1" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="DATE/TIME/PERIOD" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RFF">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="RFF" delimiter_type="inherit_field" count_ignore="no" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="REFERENCE" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="C506">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="1" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="REFERENCE" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NAD">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="NAD" delimiter_type="inherit_field" count_ignore="no" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="NAME AND ADDRESS" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NAD01" type="EDIFACT_ID_3035">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="PARTY QUALIFIER_3035" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" ref="C082">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="2" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="PARTY IDENTIFICATION DETAILS" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" ref="C058">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="3" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" Used="No" notes="NAME AND ADDRESS" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" ref="C080">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="4" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="PARTY NAME" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" ref="C059">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="5" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="STREET" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="NAD06">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="CITY NAME_3164" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="NAD07">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="COUNTRY SUB-ENTITY IDENTIFICATION_3229" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="9" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="NAD08">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="POSTCODE IDENTIFICATION_3251" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="9" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="NAD09" type="EDIFACT_ID_3207_Imported">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="COUNTRY, CODED_3207" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CTA">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="CTA" delimiter_type="inherit_field" count_ignore="no" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="CONTACT INFORMATION" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CTA01" type="EDIFACT_ID_3139">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="CONTACT FUNCTION, CODED_3139" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" ref="C056">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="2" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="DEPARTMENT OR EMPLOYEE DETAILS" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="COM">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="COM" delimiter_type="inherit_field" count_ignore="no" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="COMMUNICATION CONTACT" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="C076">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="1" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="COMMUNICATION CONTACT" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EFI">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="EFI" delimiter_type="inherit_field" count_ignore="no" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="EXTERNAL FILE LINK IDENTIFICATION" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="C077">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="1" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="FILE IDENTIFICATION" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" ref="C099">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="2" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="FILE DETAILS" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="EFI03">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="SEQUENCE NUMBER_1050" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CED">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="CED" delimiter_type="inherit_field" count_ignore="no" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="COMPUTER ENVIRONMENT DETAILS" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CED01" type="EDIFACT_ID_1501">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="COMPUTER ENVIRONMENT DETAILS QUALIFIER_1501" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="C079">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="2" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="COMPUTER ENVIRONMENT IDENTIFICATION" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RFF_2">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="RFF_2" delimiter_type="inherit_field" count_ignore="no" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="REFERENCE" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="C506_2">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="1" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="REFERENCE" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTM_2">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="DTM_2" delimiter_type="inherit_field" count_ignore="no" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="DATE/TIME/PERIOD" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="C507_2">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="1" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="DATE/TIME/PERIOD" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QTY">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="QTY" delimiter_type="inherit_field" count_ignore="no" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="QUANTITY" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="C186">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="1" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="QUANTITY DETAILS" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C002">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="1" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="DOCUMENT/MESSAGE NAME" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="C00201" type="EDIFACT_ID_1001">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Document/message name, coded_1001" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="C00202" type="EDIFACT_ID_1131">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Code list qualifier_1131" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="C00203" type="EDIFACT_ID_3055">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Code list responsible agency, coded_3055" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="C00204">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Document/message name_1000" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C507">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="1" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="DATE/TIME/PERIOD" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="C50701" type="EDIFACT_ID_2005">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Date/time/period qualifier_2005" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="C50702">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Date/time/period_2380" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C50703" type="EDIFACT_ID_2379">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Date/time/period format qualifier_2379" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C506">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="1" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="REFERENCE" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="C50601" type="EDIFACT_ID_1153">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Reference qualifier_1153" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="C50602">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Reference number_1154" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C50603">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Line number_1156" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C50604">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Reference version number_4000" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C082">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="2" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="PARTY IDENTIFICATION DETAILS" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="C08201">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Party id. identification_3039" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C08202" type="EDIFACT_ID_1131">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Code list qualifier_1131" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="C08203" type="EDIFACT_ID_3055">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Code list responsible agency, coded_3055" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C058">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="3" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" Used="No" notes="NAME AND ADDRESS" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="C05801">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Name and address line_3124" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C05802">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Name and address line_3124" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C05803">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Name and address line_3124" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C05804">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Name and address line_3124" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C05805">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Name and address line_3124" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C080">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="4" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="PARTY NAME" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="C08001">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Party name_3036" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C08002">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Party name_3036" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C08003">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Party name_3036" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C08004">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Party name_3036" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C08005">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Party name_3036" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C08006" type="EDIFACT_ID_3045">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Party name format, coded_3045" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C059">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="5" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="STREET" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="C05901">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Street and number/p.o. box_3042" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C05902">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Street and number/p.o. box_3042" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C05903">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Street and number/p.o. box_3042" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C05904">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Street and number/p.o. box_3042" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C056">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="2" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="DEPARTMENT OR EMPLOYEE DETAILS" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="C05601">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Department or employee identification_3413" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="17" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C05602">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Department or employee_3412" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C076">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="1" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="COMMUNICATION CONTACT" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="C07601">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Communication number_3148" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="512" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="C07602" type="EDIFACT_ID_3155">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Communication channel qualifier_3155" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C077">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="1" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="FILE IDENTIFICATION" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="C07701">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="File name_1508" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C07702">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Item description_7008" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C099">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="2" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="FILE DETAILS" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="C09901">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="File format_1516" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="17" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C09902">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Version_1056" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="9" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C09903" type="EDIFACT_ID_1503">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Data format, coded_1503" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="C09904">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Data format_1502" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C079">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="2" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="COMPUTER ENVIRONMENT IDENTIFICATION" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="C07901" type="EDIFACT_ID_1511_Imported">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Computer environment, coded_1511" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="C07902" type="EDIFACT_ID_1131">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Code list qualifier_1131" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="C07903" type="EDIFACT_ID_3055">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Code list responsible agency, coded_3055" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="C07904">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Computer environment_1510" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C07905">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Version_1056" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="9" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C07906">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Release_1058" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="9" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C07907">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Identity number_7402" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C506_2">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="1" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="REFERENCE" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="C50601" type="EDIFACT_ID_1153">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Reference qualifier_1153" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="C50602">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Reference number_1154" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C50603">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Line number_1156" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C50604">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Reference version number_4000" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C507_2">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="1" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="DATE/TIME/PERIOD" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="C50701" type="EDIFACT_ID_2005">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Date/time/period qualifier_2005" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="C50702">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Date/time/period_2380" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C50703" type="EDIFACT_ID_2379">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Date/time/period format qualifier_2379" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C186">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="1" escape_type="inherit_escape" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="QUANTITY DETAILS" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="C18601" type="EDIFACT_ID_6063">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Quantity qualifier_6063" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="C18602">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Quantity_6060" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="EDIFACT_N">
              <xs:minLength value="1" />
              <xs:maxLength value="15" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C18603" type="EDIFACT_ID_6411_Imported">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Measure unit qualifier_6411" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="EDIFACT_ID_1001">
    <xs:restriction base="xs:string">
      <xs:enumeration value="13E" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EDIFACT_ID_1131">
    <xs:restriction base="xs:string">
      <xs:enumeration value="106" />
      <xs:enumeration value="132" />
      <xs:enumeration value="154" />
      <xs:enumeration value="166" />
      <xs:enumeration value="174" />
      <xs:enumeration value="23" />
      <xs:enumeration value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EDIFACT_ID_3055">
    <xs:restriction base="xs:string">
      <xs:enumeration value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EDIFACT_ID_1225">
    <xs:restriction base="xs:string">
      <xs:enumeration value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EDIFACT_ID_4343">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AA" />
      <xs:enumeration value="AB" />
      <xs:enumeration value="AC" />
      <xs:enumeration value="AI" />
      <xs:enumeration value="AP" />
      <xs:enumeration value="CA" />
      <xs:enumeration value="NA" />
      <xs:enumeration value="RE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EDIFACT_ID_2005">
    <xs:restriction base="xs:string">
      <xs:enumeration value="137" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EDIFACT_ID_2379">
    <xs:restriction base="xs:string">
      <xs:enumeration value="102" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EDIFACT_ID_1153">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EDIFACT_ID_3035">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BY" />
      <xs:enumeration value="MR" />
      <xs:enumeration value="MS" />
      <xs:enumeration value="SU" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EDIFACT_ID_3045">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EDIFACT_ID_3207_Imported">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AD" />
      <xs:enumeration value="AE" />
      <xs:enumeration value="AF" />
      <xs:enumeration value="AG" />
      <xs:enumeration value="AL" />
      <xs:enumeration value="AM" />
      <xs:enumeration value="AO" />
      <xs:enumeration value="AR" />
      <xs:enumeration value="AT" />
      <xs:enumeration value="AU" />
      <xs:enumeration value="AZ" />
      <xs:enumeration value="BA" />
      <xs:enumeration value="BB" />
      <xs:enumeration value="BD" />
      <xs:enumeration value="BE" />
      <xs:enumeration value="BG" />
      <xs:enumeration value="BH" />
      <xs:enumeration value="BI" />
      <xs:enumeration value="BJ" />
      <xs:enumeration value="BM" />
      <xs:enumeration value="BO" />
      <xs:enumeration value="BR" />
      <xs:enumeration value="BS" />
      <xs:enumeration value="BW" />
      <xs:enumeration value="BY" />
      <xs:enumeration value="BZ" />
      <xs:enumeration value="CA" />
      <xs:enumeration value="CF" />
      <xs:enumeration value="CG" />
      <xs:enumeration value="CH" />
      <xs:enumeration value="CI" />
      <xs:enumeration value="CL" />
      <xs:enumeration value="CM" />
      <xs:enumeration value="CN" />
      <xs:enumeration value="CO" />
      <xs:enumeration value="CR" />
      <xs:enumeration value="CU" />
      <xs:enumeration value="CY" />
      <xs:enumeration value="CZ" />
      <xs:enumeration value="DE" />
      <xs:enumeration value="DK" />
      <xs:enumeration value="DO" />
      <xs:enumeration value="DZ" />
      <xs:enumeration value="EC" />
      <xs:enumeration value="EE" />
      <xs:enumeration value="EG" />
      <xs:enumeration value="ES" />
      <xs:enumeration value="ET" />
      <xs:enumeration value="FI" />
      <xs:enumeration value="FJ" />
      <xs:enumeration value="FR" />
      <xs:enumeration value="GA" />
      <xs:enumeration value="GB" />
      <xs:enumeration value="GE" />
      <xs:enumeration value="GH" />
      <xs:enumeration value="GI" />
      <xs:enumeration value="GM" />
      <xs:enumeration value="GR" />
      <xs:enumeration value="GT" />
      <xs:enumeration value="GY" />
      <xs:enumeration value="HK" />
      <xs:enumeration value="HN" />
      <xs:enumeration value="HR" />
      <xs:enumeration value="HT" />
      <xs:enumeration value="HU" />
      <xs:enumeration value="ID" />
      <xs:enumeration value="IE" />
      <xs:enumeration value="IL" />
      <xs:enumeration value="IN" />
      <xs:enumeration value="IQ" />
      <xs:enumeration value="IR" />
      <xs:enumeration value="IS" />
      <xs:enumeration value="IT" />
      <xs:enumeration value="JM" />
      <xs:enumeration value="JO" />
      <xs:enumeration value="JP" />
      <xs:enumeration value="KE" />
      <xs:enumeration value="KG" />
      <xs:enumeration value="KH" />
      <xs:enumeration value="KP" />
      <xs:enumeration value="KR" />
      <xs:enumeration value="KW" />
      <xs:enumeration value="KZ" />
      <xs:enumeration value="LB" />
      <xs:enumeration value="LI" />
      <xs:enumeration value="LK" />
      <xs:enumeration value="LR" />
      <xs:enumeration value="LS" />
      <xs:enumeration value="LT" />
      <xs:enumeration value="LU" />
      <xs:enumeration value="LV" />
      <xs:enumeration value="LY" />
      <xs:enumeration value="MA" />
      <xs:enumeration value="MC" />
      <xs:enumeration value="MD" />
      <xs:enumeration value="MK" />
      <xs:enumeration value="MT" />
      <xs:enumeration value="MX" />
      <xs:enumeration value="MY" />
      <xs:enumeration value="MZ" />
      <xs:enumeration value="NA" />
      <xs:enumeration value="NG" />
      <xs:enumeration value="NI" />
      <xs:enumeration value="NL" />
      <xs:enumeration value="NO" />
      <xs:enumeration value="NZ" />
      <xs:enumeration value="OM" />
      <xs:enumeration value="PA" />
      <xs:enumeration value="PE" />
      <xs:enumeration value="PG" />
      <xs:enumeration value="PH" />
      <xs:enumeration value="PK" />
      <xs:enumeration value="PL" />
      <xs:enumeration value="PR" />
      <xs:enumeration value="PT" />
      <xs:enumeration value="PY" />
      <xs:enumeration value="QA" />
      <xs:enumeration value="RO" />
      <xs:enumeration value="RU" />
      <xs:enumeration value="RW" />
      <xs:enumeration value="SA" />
      <xs:enumeration value="SD" />
      <xs:enumeration value="SE" />
      <xs:enumeration value="SG" />
      <xs:enumeration value="SI" />
      <xs:enumeration value="SK" />
      <xs:enumeration value="SM" />
      <xs:enumeration value="SV" />
      <xs:enumeration value="SY" />
      <xs:enumeration value="SZ" />
      <xs:enumeration value="TH" />
      <xs:enumeration value="TJ" />
      <xs:enumeration value="TM" />
      <xs:enumeration value="TN" />
      <xs:enumeration value="TR" />
      <xs:enumeration value="TW" />
      <xs:enumeration value="UA" />
      <xs:enumeration value="UG" />
      <xs:enumeration value="US" />
      <xs:enumeration value="UY" />
      <xs:enumeration value="UZ" />
      <xs:enumeration value="VE" />
      <xs:enumeration value="VN" />
      <xs:enumeration value="YU" />
      <xs:enumeration value="ZA" />
      <xs:enumeration value="ZM" />
      <xs:enumeration value="ZR" />
      <xs:enumeration value="ZW" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EDIFACT_ID_3139">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EDIFACT_ID_3155">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EI" />
      <xs:enumeration value="EM" />
      <xs:enumeration value="FX" />
      <xs:enumeration value="TE" />
      <xs:enumeration value="TL" />
      <xs:enumeration value="WWW" />
      <xs:enumeration value="XF" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EDIFACT_ID_1503">
    <xs:restriction base="xs:string">
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EDIFACT_ID_1501">
    <xs:restriction base="xs:string">
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EDIFACT_ID_1511_Imported">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1E" />
      <xs:enumeration value="2E" />
      <xs:enumeration value="3E" />
      <xs:enumeration value="4E" />
      <xs:enumeration value="5E" />
      <xs:enumeration value="6E" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ID1153_2">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PDE" />
      <xs:enumeration value="PL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ID2005_2">
    <xs:restriction base="xs:string">
      <xs:enumeration value="22E" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ID2379_2">
    <xs:restriction base="xs:string">
      <xs:enumeration value="203" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EDIFACT_ID_6063">
    <xs:restriction base="xs:string">
      <xs:enumeration value="73E" />
      <xs:enumeration value="74E" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EDIFACT_ID_6411_Imported">
    <xs:restriction base="xs:string">
      <xs:enumeration value="KB" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EDIFACT_N">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="EDIFACT_AN">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="EDIFACT_ID">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="EDIFACT_A">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
</xs:schema>