BizTalk Server/Schema/X12/00304/X12_00304_419.xsd

<?xml version="1.0"?>
<xs:schema xmlns:btsedi="http://schemas.microsoft.com/BizTalk/2005/EdiSchemaEditorExtension" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns="http://schemas.microsoft.com/BizTalk/EDI/X12/2006" targetNamespace="http://schemas.microsoft.com/BizTalk/EDI/X12/2006" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <schemaEditorExtension:schemaInfo namespaceAlias="btsedi" extensionClass="Microsoft.BizTalk.Edi.SchemaEditorExtension.EdiSchemaExtension" standardName="EDI" xmlns:schemaEditorExtension="http://schemas.microsoft.com/BizTalk/2003/SchemaEditorExtensions" />
      <b:schemaInfo version="1.0" document_type="419" standard="EDI" standards_version="00304" root_reference="X12_00304_419" displayroot_reference="X12_00304_419" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" X12ConditionDesignator_Check="No" />
    </xs:appinfo>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation xml:lang="en">copyright © Microsoft Corporation. All rights reserved.</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>Schema name: X12_3040_419</xs:documentation>
  </xs:annotation>
  <xs:element name="X12_00304_419">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="postfix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Advance Car Disposition" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ST">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Transaction Set Header" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ST01">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Transaction Set Identifier Code_143" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="3" />
                    <xs:maxLength value="3" />
                    <xs:enumeration value="419" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ST02">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Transaction Set Control Number_329" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="4" />
                    <xs:maxLength value="9" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="ST03">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Implementation Convention Preference_1705" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="1" />
                    <xs:maxLength value="9" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="150" ref="E6Loop1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Advance Car Disposition" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="SE">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Transaction Set Trailer" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SE01">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Number of Included Segments_96" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="1" />
                    <xs:maxLength value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="SE02">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Transaction Set Control Number_329" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="4" />
                    <xs:maxLength value="9" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E6Loop1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Advance Car Disposition" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="E6">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="E6" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Advance Car Disposition" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" ref="W3">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="W3" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Consignee Information" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" ref="W5">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="W5" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Route Information" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E6">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="E6" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Advance Car Disposition" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E601">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Equipment Initial_206" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="E602">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Equipment Number_207" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="10" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="E603">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="City Name_19" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="2" />
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E604">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Standard Point Location Code_154" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="6" />
              <xs:maxLength value="9" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="E605">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Standard Carrier Alpha Code_140" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="2" />
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E606">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Intermediate Switch Carrier_296" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="2" />
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E607">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Commodity Code_22" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="16" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E608">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Car Type Code_301" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:length value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="E609" type="X12_ID_578">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Equipment Status Code_578" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="W3">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="W3" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Consignee Information" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="W301">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Waybill Number_186" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="W302">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Date_373" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_DT">
              <xs:minLength value="6" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="W303">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Abbreviated Customer Name_576" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="2" />
              <xs:maxLength value="12" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="W304">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="City Name_19" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="2" />
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="W305">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="State or Province Code_156" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:length value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="W306" type="X12_ID_575">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="City Name Qualifier Code_575" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="W5">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="W5" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Route Information" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="W501">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Standard Carrier Alpha Code_140" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="2" />
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="W502">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="City Name_19" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="2" />
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="W503">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Standard Carrier Alpha Code_140" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="2" />
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="W504">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="City Name_19" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="2" />
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="W505">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Standard Carrier Alpha Code_140" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="2" />
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="W506">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="City Name_19" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="2" />
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="X12_ID_578">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AA" />
      <xs:enumeration value="AB" />
      <xs:enumeration value="AC" />
      <xs:enumeration value="AG" />
      <xs:enumeration value="AH" />
      <xs:enumeration value="AI" />
      <xs:enumeration value="AJ" />
      <xs:enumeration value="AK" />
      <xs:enumeration value="D" />
      <xs:enumeration value="E" />
      <xs:enumeration value="L" />
      <xs:enumeration value="O" />
      <xs:enumeration value="W" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_575">
    <xs:restriction base="xs:string">
      <xs:enumeration value="S" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="date">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d*-\d\d-\d\d" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="time">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d\d:\d\d(:\d\d)?" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_N">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_R">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_AN">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_ID">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_DT">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_TM">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N0">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N1">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N2">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N3">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N4">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N5">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N6">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N7">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N8">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N9">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
</xs:schema>