BizTalk Server/Schema/X12/00304/X12_00304_868.xsd

<?xml version="1.0"?>
<xs:schema xmlns:btsedi="http://schemas.microsoft.com/BizTalk/2005/EdiSchemaEditorExtension" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns="http://schemas.microsoft.com/BizTalk/EDI/X12/2006" targetNamespace="http://schemas.microsoft.com/BizTalk/EDI/X12/2006" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <schemaEditorExtension:schemaInfo namespaceAlias="btsedi" extensionClass="Microsoft.BizTalk.Edi.SchemaEditorExtension.EdiSchemaExtension" standardName="EDI" xmlns:schemaEditorExtension="http://schemas.microsoft.com/BizTalk/2003/SchemaEditorExtensions" />
      <b:schemaInfo version="1.0" document_type="868" standard="EDI" standards_version="00304" root_reference="X12_00304_868" displayroot_reference="X12_00304_868" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" X12ConditionDesignator_Check="No" />
    </xs:appinfo>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation xml:lang="en">copyright © Microsoft Corporation. All rights reserved.</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>Schema name: X12_3040_868</xs:documentation>
  </xs:annotation>
  <xs:element name="X12_00304_868">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="postfix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Electronic Form Structure" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ST">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Transaction Set Header" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ST01">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Transaction Set Identifier Code_143" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="3" />
                    <xs:maxLength value="3" />
                    <xs:enumeration value="868" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ST02">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Transaction Set Control Number_329" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="4" />
                    <xs:maxLength value="9" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="ST03">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Implementation Convention Preference_1705" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="1" />
                    <xs:maxLength value="9" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="E01">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="E01" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Electronic Form Main Heading" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="100" ref="DMI">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="DMI" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Data Maintenance Information">
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="DMI11" />
                  <b:Subject name="DMI10" />
                </b:Rule>
              </b:recordInfo>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="100" ref="E03">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="E03" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Interchange Order of Segments" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1000" ref="E10Loop1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Transaction Set Grouping" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1000" ref="E20Loop1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Segment Header Information" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="2000" ref="E30Loop1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Data Element Attributes" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="10000" ref="E40Loop1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for EDI Standards Note Reference" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="SE">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Transaction Set Trailer" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SE01">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Number of Included Segments_96" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="1" />
                    <xs:maxLength value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="SE02">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Transaction Set Control Number_329" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="4" />
                    <xs:maxLength value="9" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E10Loop1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Transaction Set Grouping" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="E10">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="E10" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Transaction Set Grouping" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1000" ref="E13">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="E13" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Segment Order in Transaction Set" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E24Loop1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Data Element Sequence in a Segment" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="E24">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="E24" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Data Element Sequence in a Segment" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="100" ref="E26">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="E26" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Element Sequence in Composite" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E20Loop1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Segment Header Information" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="E20">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="E20" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Segment Header Information" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="100" ref="E22">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="E22" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Data Element Relationships in a Segment" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="100" ref="E24Loop1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Data Element Sequence in a Segment" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E34Loop1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Code List Values for a Data Element" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="E34">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="E34" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Code List Values for a Data Element" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="5" ref="DDI">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="DDI" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Description" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="5" ref="DAI_2">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="DAI" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Appendix Information" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E30Loop1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Data Element Attributes" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="E30">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="E30" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Data Element Attributes" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="10" ref="DAI">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="DAI" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Appendix Information" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="10000" ref="E34Loop1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Code List Values for a Data Element" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E40Loop1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for EDI Standards Note Reference" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="E40">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="E40" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="EDI Standards Note Reference" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="100" ref="DMI_2">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="DMI" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Data Maintenance Information">
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="DMI11" />
                  <b:Subject name="DMI10" />
                </b:Rule>
              </b:recordInfo>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1000" ref="DDI_2">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="DDI" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Description" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E01">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="E01" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Electronic Form Main Heading" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E0101" type="X12_ID_487">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Maintenance Operation Code_487" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="E0102" type="X12_ID_922">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Electronic Form Standards Type Code_922" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="E0103">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Version / Release / Industry Identifier Code_480" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="12" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="E0104" type="X12_ID_924">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Full or Partial Indicator_924" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMI">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="DMI" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Data Maintenance Information">
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="DMI11" />
            <b:Subject name="DMI10" />
          </b:Rule>
        </b:recordInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DMI01" type="X12_ID_487">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Maintenance Operation Code_487" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="DMI02">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Data Maintenance Number_926" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="DMI03">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Name_93" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="DMI04">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Address Information_166" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="DMI05">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Address Information_166" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="DMI06">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="City Name_19" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="2" />
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="DMI07">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="State or Province Code_156" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:length value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="DMI08">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Postal Code_116" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="3" />
              <xs:maxLength value="9" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="DMI09">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Country Code_26" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="2" />
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="DMI10" type="X12_ID_365">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Communication Number Qualifier_365" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="DMI11">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Communication Number_364" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="80" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="DMI12">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Note Identification Number_490" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E03">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="E03" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Interchange Order of Segments" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E0301" type="X12_ID_487">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Maintenance Operation Code_487" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="E0302" type="X12_ID_906">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Level Number_906" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="E0303">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Segment ID Code_721" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="2" />
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="E0304" type="X12_ID_903">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Envelope Indicator_903" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="E0305" type="X12_ID_904">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Requirement Designator_904" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="E0306">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Maximum Use_905" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="7" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E0307">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Note Identification Number_490" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E10">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="E10" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Transaction Set Grouping" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E1001" type="X12_ID_487">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Maintenance Operation Code_487" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="E1002" type="X12_ID_143">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Transaction Set Identifier Code_143" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="E1003" type="X12_ID_479">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Functional Identifier Code_479" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="E1004">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Description_352" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="80" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E1005">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Note Identification Number_490" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E13">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="E13" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Segment Order in Transaction Set" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E1301" type="X12_ID_487">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Maintenance Operation Code_487" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="E1302">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Position in Set_589" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E1303" type="X12_ID_902">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Section Designator_902" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E1304">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Segment ID Code_721" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="2" />
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E1305" type="X12_ID_904">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Requirement Designator_904" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E1306">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Maximum Use_905" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="7" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E1307">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Loop Name_909" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="2" />
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E1308">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Loop Repeat Count_910" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="7" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E1309">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Loop Level Number_489" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="1" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E1310">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Note Identification Number_490" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E20">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="E20" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Segment Header Information" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E2001" type="X12_ID_487">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Maintenance Operation Code_487" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="E2002">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Segment ID Code_721" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="2" />
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E2003">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Description_352" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="80" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E2004">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Note Identification Number_490" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E22">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="E22" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Data Element Relationships in a Segment" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E2201" type="X12_ID_487">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Maintenance Operation Code_487" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="E2202" type="X12_ID_912">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Relation Code_912" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="E2203">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Position in Segment_911" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E2204">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Position in Segment_911" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E2205">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Position in Segment_911" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E2206">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Position in Segment_911" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E2207">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Position in Segment_911" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E2208">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Position in Segment_911" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E2209">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Position in Segment_911" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E2210">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Position in Segment_911" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E2211">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Position in Segment_911" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E2212">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Position in Segment_911" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E24">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="E24" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Data Element Sequence in a Segment" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E2401" type="X12_ID_487">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Maintenance Operation Code_487" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="E2402">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Position in Segment_911" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="E2403">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Data Element Reference Number_725" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="E2404" type="X12_ID_904">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Requirement Designator_904" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E2405" type="X12_ID_491">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Data Element Type_491" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E2406">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Note Identification Number_490" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E26">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="E26" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Element Sequence in Composite" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E2601" type="X12_ID_487">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Maintenance Operation Code_487" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="E2602">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Position in Composite_492" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="E2603">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Data Element Reference Number_725" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="E2604" type="X12_ID_904">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Requirement Designator_904" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E2605" type="X12_ID_491">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Data Element Type_491" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E2606">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Note Identification Number_490" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E30">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="E30" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Data Element Attributes" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E3001" type="X12_ID_487">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Maintenance Operation Code_487" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="E3002">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Data Element Reference Number_725" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="E3003" type="X12_ID_913">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Data Element Type_913" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="E3004">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Minimum Length_914" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="E3005">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Maximum Length_915" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="7" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E3006">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Description_352" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="80" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E3007">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Note Identification Number_490" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DAI">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="DAI" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Appendix Information" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DAI01" type="X12_ID_487">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Maintenance Operation Code_487" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="DAI02">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Code List Reference_916" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="DAI03">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Note Identification Number_490" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E34">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="E34" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Code List Values for a Data Element" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E3401" type="X12_ID_487">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Maintenance Operation Code_487" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="E3402">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Code Value_918" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="8" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="E3403">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Partition Indicator_505" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="80" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="E3404">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Description_352" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="80" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DDI">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="DDI" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Description" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DDI01">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Description_352" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="80" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DAI_2">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="DAI_2" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Appendix Information" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DAI01" type="X12_ID_487">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Maintenance Operation Code_487" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="DAI02">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Code List Reference_916" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="DAI03">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Note Identification Number_490" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E40">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="E40" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="EDI Standards Note Reference" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E4001" type="X12_ID_487">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Maintenance Operation Code_487" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="E4002">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Note Identification Number_490" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="E4003" type="X12_ID_568">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Electronic Form Note Reference Code_568" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E4004">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Assigned Identification_350" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="11" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMI_2">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="DMI_2" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Data Maintenance Information">
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="DMI11" />
            <b:Subject name="DMI10" />
          </b:Rule>
        </b:recordInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DMI01" type="X12_ID_487">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Maintenance Operation Code_487" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="DMI02">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Data Maintenance Number_926" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="DMI03">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Name_93" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="DMI04">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Address Information_166" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="DMI05">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Address Information_166" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="DMI06">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="City Name_19" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="2" />
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="DMI07">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="State or Province Code_156" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:length value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="DMI08">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Postal Code_116" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="3" />
              <xs:maxLength value="9" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="DMI09">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Country Code_26" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="2" />
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="DMI10" type="X12_ID_365">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Communication Number Qualifier_365" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="DMI11">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Communication Number_364" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="80" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="DMI12">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Note Identification Number_490" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DDI_2">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="DDI_2" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Description" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DDI01">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Description_352" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="80" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="X12_ID_487">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A" />
      <xs:enumeration value="C" />
      <xs:enumeration value="D" />
      <xs:enumeration value="F" />
      <xs:enumeration value="R" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_922">
    <xs:restriction base="xs:string">
      <xs:enumeration value="T" />
      <xs:enumeration value="X" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ID480">
    <xs:restriction base="xs:string">
      <xs:enumeration value="001000" />
      <xs:enumeration value="002000" />
      <xs:enumeration value="002001" />
      <xs:enumeration value="002002" />
      <xs:enumeration value="002003" />
      <xs:enumeration value="002031" />
      <xs:enumeration value="002040" />
      <xs:enumeration value="002041" />
      <xs:enumeration value="002042" />
      <xs:enumeration value="003000" />
      <xs:enumeration value="003010" />
      <xs:enumeration value="003011" />
      <xs:enumeration value="003012" />
      <xs:enumeration value="003020" />
      <xs:enumeration value="003021" />
      <xs:enumeration value="003022" />
      <xs:enumeration value="003030" />
      <xs:enumeration value="003031" />
      <xs:enumeration value="003032" />
      <xs:enumeration value="003040" />
      <xs:enumeration value="003041" />
      <xs:enumeration value="003042" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_924">
    <xs:restriction base="xs:string">
      <xs:enumeration value="F" />
      <xs:enumeration value="P" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_365">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AP" />
      <xs:enumeration value="AU" />
      <xs:enumeration value="BN" />
      <xs:enumeration value="CP" />
      <xs:enumeration value="DN" />
      <xs:enumeration value="ED" />
      <xs:enumeration value="EM" />
      <xs:enumeration value="EX" />
      <xs:enumeration value="FT" />
      <xs:enumeration value="FX" />
      <xs:enumeration value="HP" />
      <xs:enumeration value="IT" />
      <xs:enumeration value="MN" />
      <xs:enumeration value="NP" />
      <xs:enumeration value="PS" />
      <xs:enumeration value="TE" />
      <xs:enumeration value="TL" />
      <xs:enumeration value="TM" />
      <xs:enumeration value="TX" />
      <xs:enumeration value="WP" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_906">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_903">
    <xs:restriction base="xs:string">
      <xs:enumeration value="H" />
      <xs:enumeration value="N" />
      <xs:enumeration value="T" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_904">
    <xs:restriction base="xs:string">
      <xs:enumeration value="C" />
      <xs:enumeration value="F" />
      <xs:enumeration value="M" />
      <xs:enumeration value="N" />
      <xs:enumeration value="O" />
      <xs:enumeration value="R" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_143">
    <xs:restriction base="xs:string">
      <xs:enumeration value="101" />
      <xs:enumeration value="104" />
      <xs:enumeration value="105" />
      <xs:enumeration value="107" />
      <xs:enumeration value="108" />
      <xs:enumeration value="109" />
      <xs:enumeration value="110" />
      <xs:enumeration value="111" />
      <xs:enumeration value="113" />
      <xs:enumeration value="115" />
      <xs:enumeration value="116" />
      <xs:enumeration value="125" />
      <xs:enumeration value="126" />
      <xs:enumeration value="127" />
      <xs:enumeration value="128" />
      <xs:enumeration value="129" />
      <xs:enumeration value="130" />
      <xs:enumeration value="131" />
      <xs:enumeration value="135" />
      <xs:enumeration value="139" />
      <xs:enumeration value="140" />
      <xs:enumeration value="141" />
      <xs:enumeration value="142" />
      <xs:enumeration value="143" />
      <xs:enumeration value="144" />
      <xs:enumeration value="146" />
      <xs:enumeration value="147" />
      <xs:enumeration value="148" />
      <xs:enumeration value="151" />
      <xs:enumeration value="152" />
      <xs:enumeration value="154" />
      <xs:enumeration value="161" />
      <xs:enumeration value="170" />
      <xs:enumeration value="180" />
      <xs:enumeration value="186" />
      <xs:enumeration value="190" />
      <xs:enumeration value="196" />
      <xs:enumeration value="204" />
      <xs:enumeration value="210" />
      <xs:enumeration value="213" />
      <xs:enumeration value="214" />
      <xs:enumeration value="217" />
      <xs:enumeration value="218" />
      <xs:enumeration value="250" />
      <xs:enumeration value="251" />
      <xs:enumeration value="260" />
      <xs:enumeration value="263" />
      <xs:enumeration value="264" />
      <xs:enumeration value="270" />
      <xs:enumeration value="271" />
      <xs:enumeration value="272" />
      <xs:enumeration value="276" />
      <xs:enumeration value="277" />
      <xs:enumeration value="290" />
      <xs:enumeration value="300" />
      <xs:enumeration value="301" />
      <xs:enumeration value="302" />
      <xs:enumeration value="303" />
      <xs:enumeration value="304" />
      <xs:enumeration value="305" />
      <xs:enumeration value="306" />
      <xs:enumeration value="307" />
      <xs:enumeration value="309" />
      <xs:enumeration value="310" />
      <xs:enumeration value="311" />
      <xs:enumeration value="312" />
      <xs:enumeration value="313" />
      <xs:enumeration value="314" />
      <xs:enumeration value="315" />
      <xs:enumeration value="316" />
      <xs:enumeration value="317" />
      <xs:enumeration value="319" />
      <xs:enumeration value="321" />
      <xs:enumeration value="322" />
      <xs:enumeration value="323" />
      <xs:enumeration value="324" />
      <xs:enumeration value="325" />
      <xs:enumeration value="326" />
      <xs:enumeration value="350" />
      <xs:enumeration value="352" />
      <xs:enumeration value="353" />
      <xs:enumeration value="354" />
      <xs:enumeration value="355" />
      <xs:enumeration value="356" />
      <xs:enumeration value="360" />
      <xs:enumeration value="361" />
      <xs:enumeration value="404" />
      <xs:enumeration value="410" />
      <xs:enumeration value="411" />
      <xs:enumeration value="414" />
      <xs:enumeration value="417" />
      <xs:enumeration value="418" />
      <xs:enumeration value="419" />
      <xs:enumeration value="420" />
      <xs:enumeration value="421" />
      <xs:enumeration value="422" />
      <xs:enumeration value="423" />
      <xs:enumeration value="424" />
      <xs:enumeration value="425" />
      <xs:enumeration value="426" />
      <xs:enumeration value="427" />
      <xs:enumeration value="429" />
      <xs:enumeration value="431" />
      <xs:enumeration value="440" />
      <xs:enumeration value="460" />
      <xs:enumeration value="461" />
      <xs:enumeration value="462" />
      <xs:enumeration value="463" />
      <xs:enumeration value="464" />
      <xs:enumeration value="465" />
      <xs:enumeration value="466" />
      <xs:enumeration value="467" />
      <xs:enumeration value="468" />
      <xs:enumeration value="469" />
      <xs:enumeration value="480" />
      <xs:enumeration value="485" />
      <xs:enumeration value="486" />
      <xs:enumeration value="490" />
      <xs:enumeration value="491" />
      <xs:enumeration value="492" />
      <xs:enumeration value="494" />
      <xs:enumeration value="499" />
      <xs:enumeration value="511" />
      <xs:enumeration value="517" />
      <xs:enumeration value="527" />
      <xs:enumeration value="536" />
      <xs:enumeration value="561" />
      <xs:enumeration value="567" />
      <xs:enumeration value="568" />
      <xs:enumeration value="601" />
      <xs:enumeration value="602" />
      <xs:enumeration value="622" />
      <xs:enumeration value="805" />
      <xs:enumeration value="806" />
      <xs:enumeration value="810" />
      <xs:enumeration value="811" />
      <xs:enumeration value="812" />
      <xs:enumeration value="813" />
      <xs:enumeration value="815" />
      <xs:enumeration value="816" />
      <xs:enumeration value="818" />
      <xs:enumeration value="819" />
      <xs:enumeration value="820" />
      <xs:enumeration value="821" />
      <xs:enumeration value="822" />
      <xs:enumeration value="823" />
      <xs:enumeration value="824" />
      <xs:enumeration value="826" />
      <xs:enumeration value="827" />
      <xs:enumeration value="828" />
      <xs:enumeration value="829" />
      <xs:enumeration value="830" />
      <xs:enumeration value="831" />
      <xs:enumeration value="832" />
      <xs:enumeration value="833" />
      <xs:enumeration value="834" />
      <xs:enumeration value="835" />
      <xs:enumeration value="836" />
      <xs:enumeration value="837" />
      <xs:enumeration value="838" />
      <xs:enumeration value="839" />
      <xs:enumeration value="840" />
      <xs:enumeration value="841" />
      <xs:enumeration value="842" />
      <xs:enumeration value="843" />
      <xs:enumeration value="844" />
      <xs:enumeration value="845" />
      <xs:enumeration value="846" />
      <xs:enumeration value="847" />
      <xs:enumeration value="848" />
      <xs:enumeration value="849" />
      <xs:enumeration value="850" />
      <xs:enumeration value="851" />
      <xs:enumeration value="852" />
      <xs:enumeration value="853" />
      <xs:enumeration value="854" />
      <xs:enumeration value="855" />
      <xs:enumeration value="856" />
      <xs:enumeration value="857" />
      <xs:enumeration value="858" />
      <xs:enumeration value="859" />
      <xs:enumeration value="860" />
      <xs:enumeration value="861" />
      <xs:enumeration value="862" />
      <xs:enumeration value="863" />
      <xs:enumeration value="864" />
      <xs:enumeration value="865" />
      <xs:enumeration value="866" />
      <xs:enumeration value="867" />
      <xs:enumeration value="868" />
      <xs:enumeration value="869" />
      <xs:enumeration value="870" />
      <xs:enumeration value="872" />
      <xs:enumeration value="874" />
      <xs:enumeration value="875" />
      <xs:enumeration value="876" />
      <xs:enumeration value="877" />
      <xs:enumeration value="878" />
      <xs:enumeration value="879" />
      <xs:enumeration value="880" />
      <xs:enumeration value="881" />
      <xs:enumeration value="882" />
      <xs:enumeration value="883" />
      <xs:enumeration value="884" />
      <xs:enumeration value="885" />
      <xs:enumeration value="888" />
      <xs:enumeration value="889" />
      <xs:enumeration value="890" />
      <xs:enumeration value="891" />
      <xs:enumeration value="892" />
      <xs:enumeration value="893" />
      <xs:enumeration value="894" />
      <xs:enumeration value="895" />
      <xs:enumeration value="896" />
      <xs:enumeration value="905" />
      <xs:enumeration value="920" />
      <xs:enumeration value="924" />
      <xs:enumeration value="925" />
      <xs:enumeration value="926" />
      <xs:enumeration value="928" />
      <xs:enumeration value="940" />
      <xs:enumeration value="941" />
      <xs:enumeration value="942" />
      <xs:enumeration value="943" />
      <xs:enumeration value="944" />
      <xs:enumeration value="945" />
      <xs:enumeration value="946" />
      <xs:enumeration value="947" />
      <xs:enumeration value="980" />
      <xs:enumeration value="990" />
      <xs:enumeration value="994" />
      <xs:enumeration value="995" />
      <xs:enumeration value="996" />
      <xs:enumeration value="997" />
      <xs:enumeration value="998" />
      <xs:enumeration value="999" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_479">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AA" />
      <xs:enumeration value="AG" />
      <xs:enumeration value="AI" />
      <xs:enumeration value="AK" />
      <xs:enumeration value="AL" />
      <xs:enumeration value="AN" />
      <xs:enumeration value="AR" />
      <xs:enumeration value="AW" />
      <xs:enumeration value="BE" />
      <xs:enumeration value="BS" />
      <xs:enumeration value="CA" />
      <xs:enumeration value="CD" />
      <xs:enumeration value="CF" />
      <xs:enumeration value="CG" />
      <xs:enumeration value="CH" />
      <xs:enumeration value="CI" />
      <xs:enumeration value="CO" />
      <xs:enumeration value="CP" />
      <xs:enumeration value="CR" />
      <xs:enumeration value="CS" />
      <xs:enumeration value="CT" />
      <xs:enumeration value="D3" />
      <xs:enumeration value="D4" />
      <xs:enumeration value="D5" />
      <xs:enumeration value="DA" />
      <xs:enumeration value="DD" />
      <xs:enumeration value="DI" />
      <xs:enumeration value="DM" />
      <xs:enumeration value="DX" />
      <xs:enumeration value="ED" />
      <xs:enumeration value="ER" />
      <xs:enumeration value="FA" />
      <xs:enumeration value="FB" />
      <xs:enumeration value="FG" />
      <xs:enumeration value="FH" />
      <xs:enumeration value="FR" />
      <xs:enumeration value="FT" />
      <xs:enumeration value="GB" />
      <xs:enumeration value="GC" />
      <xs:enumeration value="GF" />
      <xs:enumeration value="GP" />
      <xs:enumeration value="GR" />
      <xs:enumeration value="HB" />
      <xs:enumeration value="HC" />
      <xs:enumeration value="HN" />
      <xs:enumeration value="HP" />
      <xs:enumeration value="HR" />
      <xs:enumeration value="HS" />
      <xs:enumeration value="IA" />
      <xs:enumeration value="IB" />
      <xs:enumeration value="IC" />
      <xs:enumeration value="IG" />
      <xs:enumeration value="II" />
      <xs:enumeration value="IJ" />
      <xs:enumeration value="IM" />
      <xs:enumeration value="IN" />
      <xs:enumeration value="IO" />
      <xs:enumeration value="IP" />
      <xs:enumeration value="IR" />
      <xs:enumeration value="IS" />
      <xs:enumeration value="LB" />
      <xs:enumeration value="LN" />
      <xs:enumeration value="LR" />
      <xs:enumeration value="LS" />
      <xs:enumeration value="LT" />
      <xs:enumeration value="MA" />
      <xs:enumeration value="MC" />
      <xs:enumeration value="MD" />
      <xs:enumeration value="MG" />
      <xs:enumeration value="MI" />
      <xs:enumeration value="ML" />
      <xs:enumeration value="MO" />
      <xs:enumeration value="MR" />
      <xs:enumeration value="MS" />
      <xs:enumeration value="MT" />
      <xs:enumeration value="MV" />
      <xs:enumeration value="MW" />
      <xs:enumeration value="MX" />
      <xs:enumeration value="NC" />
      <xs:enumeration value="OG" />
      <xs:enumeration value="OR" />
      <xs:enumeration value="OW" />
      <xs:enumeration value="PA" />
      <xs:enumeration value="PC" />
      <xs:enumeration value="PD" />
      <xs:enumeration value="PJ" />
      <xs:enumeration value="PK" />
      <xs:enumeration value="PM" />
      <xs:enumeration value="PO" />
      <xs:enumeration value="PR" />
      <xs:enumeration value="PS" />
      <xs:enumeration value="PT" />
      <xs:enumeration value="PV" />
      <xs:enumeration value="PY" />
      <xs:enumeration value="PZ" />
      <xs:enumeration value="QG" />
      <xs:enumeration value="QM" />
      <xs:enumeration value="QO" />
      <xs:enumeration value="QW" />
      <xs:enumeration value="RA" />
      <xs:enumeration value="RC" />
      <xs:enumeration value="RE" />
      <xs:enumeration value="RI" />
      <xs:enumeration value="RM" />
      <xs:enumeration value="RN" />
      <xs:enumeration value="RO" />
      <xs:enumeration value="RP" />
      <xs:enumeration value="RQ" />
      <xs:enumeration value="RR" />
      <xs:enumeration value="RS" />
      <xs:enumeration value="RT" />
      <xs:enumeration value="RU" />
      <xs:enumeration value="RY" />
      <xs:enumeration value="RZ" />
      <xs:enumeration value="SA" />
      <xs:enumeration value="SB" />
      <xs:enumeration value="SC" />
      <xs:enumeration value="SE" />
      <xs:enumeration value="SG" />
      <xs:enumeration value="SH" />
      <xs:enumeration value="SI" />
      <xs:enumeration value="SL" />
      <xs:enumeration value="SM" />
      <xs:enumeration value="SO" />
      <xs:enumeration value="SP" />
      <xs:enumeration value="SQ" />
      <xs:enumeration value="SR" />
      <xs:enumeration value="SS" />
      <xs:enumeration value="SV" />
      <xs:enumeration value="SW" />
      <xs:enumeration value="TA" />
      <xs:enumeration value="TD" />
      <xs:enumeration value="TF" />
      <xs:enumeration value="TI" />
      <xs:enumeration value="TP" />
      <xs:enumeration value="TR" />
      <xs:enumeration value="TS" />
      <xs:enumeration value="TX" />
      <xs:enumeration value="UC" />
      <xs:enumeration value="UW" />
      <xs:enumeration value="VA" />
      <xs:enumeration value="VB" />
      <xs:enumeration value="VH" />
      <xs:enumeration value="WA" />
      <xs:enumeration value="WB" />
      <xs:enumeration value="WR" />
      <xs:enumeration value="WT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_902">
    <xs:restriction base="xs:string">
      <xs:enumeration value="D" />
      <xs:enumeration value="H" />
      <xs:enumeration value="N" />
      <xs:enumeration value="S" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_912">
    <xs:restriction base="xs:string">
      <xs:enumeration value="C" />
      <xs:enumeration value="E" />
      <xs:enumeration value="L" />
      <xs:enumeration value="P" />
      <xs:enumeration value="R" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_491">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="C" />
      <xs:enumeration value="S" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_913">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AN" />
      <xs:enumeration value="B" />
      <xs:enumeration value="DT" />
      <xs:enumeration value="ID" />
      <xs:enumeration value="N0" />
      <xs:enumeration value="N1" />
      <xs:enumeration value="N2" />
      <xs:enumeration value="N3" />
      <xs:enumeration value="N4" />
      <xs:enumeration value="N5" />
      <xs:enumeration value="N6" />
      <xs:enumeration value="N7" />
      <xs:enumeration value="N8" />
      <xs:enumeration value="N9" />
      <xs:enumeration value="R" />
      <xs:enumeration value="TM" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_568">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ABS" />
      <xs:enumeration value="DMR" />
      <xs:enumeration value="IND" />
      <xs:enumeration value="NON" />
      <xs:enumeration value="PUR" />
      <xs:enumeration value="SCP" />
      <xs:enumeration value="STD" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="date">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d*-\d\d-\d\d" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="time">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d\d:\d\d(:\d\d)?" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_N">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_R">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_AN">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_ID">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_DT">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_TM">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N0">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N1">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N2">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N3">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N4">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N5">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N6">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N7">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N8">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N9">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
</xs:schema>